table{
    border: none;
}
div#menu{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -20px;
    padding: 25px;
    
}
a, a.item:link, a.item:visited, a.item:active{
    background-color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 10px;
}
a:hover{
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    font-size: 20px;
}
p{
    text-align: justify;
    font-size: 18px;
}
img{
    width: 18%;
    border: 5px solid #000000;
}
fieldset, legend, #fieldset1, #legend1, #fieldset2, #legend2, #fieldset3, #legend3{
    border: 3px solid #000000;
    border-radius: 50px;
}
fieldset{
    width: 98%;
}
#fieldset1, #fieldset2, #fieldset3{
    width: 30%;
}
#fieldset2, #fieldset3{
    margin-top: -33%;
}
#fieldset2{
    margin-left: 34%;
}
#fieldset3{
    margin-left: 68%;
}
legend, #legend1, #legend2, #legend3{
    padding: 10px;
    background-color: aquamarine;
}
#legend1{
    background-color: coral;
}
#legend2{
    background-color: goldenrod;
}
#legend3{
    background-color: burlywood;
}
li.menu{
    color: blueviolet;
}